body {
  background-color: #009499;
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
  margin: 0;
}
h1 {
  margin: 0;
  font-weight: 800;
}

.container {

}
.all-animals {
  position: relative;
}
.map {
  display: inline-block;
  position: relative;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 1150px;
  font-family: 'Spectral SC', serif;
}

.header {
  display: block;
  text-align: center;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  background: linear-gradient(0deg, rgba(204, 242, 255, 0.55), rgba(204, 235, 255, 0.55), rgba(179, 217, 255, 0.8));

  height: 200px;
  font-family: 'Spectral SC', serif;

}

h3, h2 {
  margin: 0;
  font-weight: 400;
}

.narwhal-div {
  position: absolute;
  left: 340px;
  top: -125px;
  text-align: center;
}
.narwhal-div img {
  width: 50%;
}

img.narwhal:hover {
  width: 90%;
  transform: rotate(-30deg);
}

.bat-div {
  position: absolute;
  left: 500px;
  top: 500px;
  text-align: center;
}

.crow-div {
  position: absolute;
  left: 270px;
  top: 20px;
  text-align: center;
}

.longseal-div {
  position: absolute;
  left: 655px;
  top: 220px;
  text-align: center;
}

.meerkat-div {
  position: absolute;
  left: 1000px;
  top:300px;
  text-align: center;
}

.pangolin-div {
  position: absolute;
  left: 1350px;
  top: 200px;
  text-align: center;
}

.penguins-div {
  position: absolute;
  left: 1500px;
  top: 600px;
  text-align: center;
}

.pigeon-div {
  position: absolute;
  left: 500px;
  top: 110px;
  text-align: center;
}

.rabbit-div {
  position: absolute;
  left: 1000px;
  top: 20px;
  text-align: center;
}

.info {
  width:0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.75);
  overflow: hidden;
  height: 100%;
  transition: .5s ease;

  font-size: 15px;
  font-family: serif;
}
.rabbit-div:hover .info{
  width: 100%;
}

.wolf-div {
  position: absolute;
  left: 1300px;
  top: -70px;
  text-align: center;
}

h3:before {
    content: "";
    display: inline-block;
    background: url("../img/icons8-heart.png") no-repeat;
    width: 30px;
    height: 30px;
    margin: 0;
    transform: translate(0, 25%);
}
